*{
	box-sizing:border-box;
}

body{
	font:13px 'Roboto';
}

h1, h2, h3, h4, h5{
    font-family:'Roboto';
}

input, select{
    border:1px solid #ddd;
    padding:8px;
    width:100%;
}
button{
    padding:8px 12px;
    width:100%;
}

.container{
	margin:0 auto;
	max-width:480px;
}